
div.header {
         background-color: #030250;
         color: #FFFFFF;
	     padding: 0.5em;
	     height: 42px;
         font: 0.8125em/1em Verdana, sans-serif;
}

div.title_main {
        margin-left:42px;
        margin-top:-26px;
        padding: 0.em;
        font-size: 1.5em;
        /* text-decoration: underline; */
}

div.bg { background-color: #FFFFFF;
         color: #FFFFFF;
}

div.main {
       clear: both;
       width: 50%;
       display: block;
       background-color: transparent;
       color: #000033;
	   padding: 1em;
       position: relative;
       font: 1em/1em Verdana, sans-serif;
}


div.tools { background-color: #030250;
        color: #FFFFFF;
        font-size: 1em;
	    border: 1px solid #FFFFFF;
	    padding:0.5em;
	    margin: 1.5em 0em 0em 0em;
        height: 32px;
}

div.colophon { background-color: transparent;
     color: #000000;
	 font-size: 80%;
     float: right;
     padding: 0.5em 0px 0px 1em;
     font: 0.8125em/1em Verdana, sans-serif;
}

div.colophon a { color: #000000;
}

div.title {
        background-color: #030250;
        color: #FFFFFF;
        padding: 0.5em;
        line-height: 10px;
        font: 0.8125em/1em Verdana, sans-serif;
}

div.hardware {
    clear: both;
    font: 0.8125em Verdana, sans-serif;
    color: #000000;
    position: absolute;
    right: 1em;
    text-align: left;
    margin-top: 10px;
    border: 1px dotted #999;
    padding: 6px;
    background-color: #eee;
    display: block;
}

div.form { background-color: #FFFFFF;
       float: left;
       color: #000033;
       padding:1em;
       margin: 1em;
       font: 0.8125em/1em Verdana, sans-serif;
}

/* TABLE */

table.form {
    border: 0px;
    border-collapse: separate;
    border-spacing: 8px
}

table.hardware {
    border: 0px;
    border-collapse: separate;
    border-spacing: 2px
}

/* BUTTONS */

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}


/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}
