# Destination server details (to where you are encoding).  Valid server types : Shoutcast, Icecast, Icecast2
ServerType=Icecast2
Server=localhost
Port=8000
ServerPassword=source2parisson
ServerMountpoint=/telecaster_live.mp3
# YP (Stream Directory) Settings
ServerPublic=0
ServerIRC=
ServerAIM=
ServerICQ=
ServerStreamURL=http://parisson.com
ServerName=TeleCaster LIVE
ServerDescription=Local LIVE media streaming broadcast
ServerGenre=Vocal
AutomaticReconnectSecs=10
AutoConnect=1
# Output codec selection (Valid selections : MP3, OggVorbis, Ogg FLAC, AAC, AAC Plus)
Encode=MP3
# General settings (non-codec related).  Note : NumberChannels = 1 for MONO, 2 for STEREO
NumberChannels=1
Samplerate=44100
BitrateNominal=64
BitrateMin=32
BitrateMax=96

#
SaveDirectoryFlag=0
SaveDirectory=/home/telecaster/trash
SaveAsWAV=0
#
# Ogg Vorbis specific settings.  Note: Valid settings for BitrateQuality flag are (Quality, Bitrate Management)
OggQuality=3
OggBitrateQualityFlag=Quality
# LAME specific settings.  Note: Setting the low/highpass freq to 0 will disable them.
LameCBRFlag=0
LameQuality=5
LameCopywrite=0
LameOriginal=0
LameStrictISO=0
LameDisableReservior=0
LameVBRMode=vbr_abr
LameLowpassfreq=0
LameHighpassfreq=0
LAMEPreset=0
# AAC (FAAC) specific settings.
AACQuality=100
AACCutoff=
# Log Level 1 = LOG_ERROR, 2 = LOG_ERROR+LOG_WARNING, 3 = LOG_ERROR+LOG_WARNING+LOG_DEBUG
LogLevel=1
# Log File
LogFile=/tmp/telecaster_streamer_log

