{% extends "telecaster/base.html" %}

{% block content %}

<form enctype="multipart/form-data" id="_editItemForm" method="post" action="" name="formulaire">{% csrf_token %}   
<div class="main">

<table class="form">
<TR><TH align="left">Organization</TH><TD> : </TD><TD>{{ station.organization }}</TD></TR>
<TR><TH align="left">D&eacute;partement</TH><TD> : </TD><TD>{{ station.conference.department }}</TD></TR>
<TR><TH align="left">Conference</TH><TD> : </TD><TD>{{ station.conference }}</TD></TR>
<TR><TH align="left">Session</TH><TD> : </TD><TD>{{ station.session }}</TD></TR>
<TR><TH align="left">Professeur</TH><TD> : </TD><TD>{{ station.professor }}</TD></TR>
<TR><TH align="left">Commentaire</TH><TD> : </TD><TD>{{ station.comment }}</TD></TR>
</table>
</div>

</form>
        
{% endblock content %}
