{% extends "telecaster/base.html" %}
{% load telecaster_utils %}
{% load i18n %}

{% block content %}

<form enctype="multipart/form-data" id="_startStationForm" method="post" action="" name="formulaire">{% csrf_token %}   
<div class="main">

<table class="form">
    <tr><td colspan="2">{% for error in form.non_field_errors %}<li class="error">{{ error }}</li>{% endfor %}</td></tr>
    {% for field in station %}
    <tr>
        {% if field.errors %}<tr><td class="error">{{ field.errors }}</td></tr>{% endif %}
        {% if not field.html_name in hidden_fields %}
         <td>{% trans field.label_tag %}:</td><td>{{ field }}</td>
        {% else %}
         <td>{{ field.label_tag.as_hidden }}</td><td>{{ field.as_hidden }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

</div>
</form>

{% endblock content %}

{% block buttons %}
<div class="tools">
<a class="component_icon button icon_refresh" href="#" >Refresh</a>
<a class="component_icon button icon_record" href="#">Record</a>
<a class="component_icon button icon_play" href="http://{{ status.ip }}:{{ station.port }}/{{ station.mount_point }}">Play Live</a>
<a class="component_icon button icon_archives" href="/archives/">Archives</a>
<a class="component_icon button icon_trash" href="/trash/">Trash</a>

</div>
{% endblock buttons %}
