{% extends "telecaster/base.html" %}
{% load telecaster_utils %}
{% load i18n %}

{% block extrajavascript %}
jQuery(window).ready(function(){
    var a = jQuery('#_stop');
    var f = jQuery('#_StationForm');
    a.unbind('click').click(function(){f.submit();return false;});
    });
{% endblock extrajavascript %}
    
{% block content %}

<form enctype="multipart/form-data" id="_StationForm" method="post" action="" name="formulaire">{% csrf_token %}
<div class="main">

    <div id="station_status_table_wrapper">
        <table class="form">
<TR><TH align="left">{% trans "Organization" %}</TH><TD> : </TD><TD>{{ station.organization }}</TD></TR>
<TR><TH align="left">{% trans "Department" %}</TH><TD> : </TD><TD>{{ station.conference.department }}</TD></TR>
<TR><TH align="left">{% trans "Conference" %}</TH><TD> : </TD><TD>{{ station.conference }}</TD></TR>
<TR><TH align="left">{% trans "Session" %}</TH><TD> : </TD><TD>{{ station.session }}</TD></TR>
<TR><TH align="left">{% trans "Professor" %}</TH><TD> : </TD><TD>{{ station.professor }}</TD></TR>
<TR><TH align="left">{% trans "Comment" %}</TH><TD> : </TD><TD>{{ station.comment }}</TD></TR>
        </table>
    </div>
</div>

</form>
        
{% endblock content %}

{% block buttons %}
<div class="tools">
<a class="component_icon button icon_stop" href="#" id="_stop">Stop</a>
<a class="component_icon button icon_play" href="http://{{ status.ip }}:{{ station.port }}/{{ station.mount_point }}">Play Live</a>
<a class="component_icon button icon_archives" href="/archives/">Archives</a>
<a class="component_icon button icon_trash" href="/trash/">Trash</a>

</div>
{% endblock buttons %}