body {
    margin: 0.5em;
}

div.header {
    background-color: #030250;
    color: #FFFFFF;
	  padding: 0.5em;
	  height: 42px;
    font: 0.8125em/1em Verdana, sans-serif;
    -moz-border-radius: 25px 25px 5px 5px;
    -webkit-border-radius: 25px 25px 5px 5px;
    border-radius: 25px 25px 5px 5px;
}

div.title_main {
        margin-left:42px;
        margin-top:-26px;
        padding: 0em;
        font-size: 1.5em;
       /*text-decoration: underline;*/
}

div.bg { background-color: #FFFFFF;
         color: #FFFFFF;
        margin: 0em;
}

div.main {
       clear: both;
       width: 50%;
       display: block;
       background-color: transparent;
       color: #000033;
	   padding: 1em;
       position: relative;
       font: 1em/1em Verdana, sans-serif;
}


div.tools { background-color: #030250;
    color: #FFFFFF;
    padding:0.8em;
    font: 1em/1em Verdana, sans-serif;
    -moz-border-radius: 5px 5px 25px 5px;
    -webkit-border-radius: 5px 5px 25px 5px;
    border-radius: 5px 5px 25px 5px;
}

div.colophon { background-color: transparent;
     color: #000000;
	 font-size: 80%;
     float: right;
     padding: 0.5em 0px 0px 1em;
     font: 0.8125em/1em Verdana, sans-serif;
}

div.colophon a { color: #000000;
}

div.title {
        background-color: #030250;
        color: #FFFFFF;
        padding: 0.5em;
        line-height: 10px;
        font: 1em/1em Verdana, sans-serif;
}

div.hardware {
    clear: both;
    font: 0.8125em Verdana, sans-serif;
    color: #000000;
    position: absolute;
    right: 1em;
    text-align: left;
    margin-top: 10px;
    border: 1px dotted #999;
    padding: 6px;
    background-color: #eee;
    display: block;
}

div.form { background-color: #FFFFFF;
       float: left;
       color: #000033;
       padding:1em;
       margin: 1em;
}

/* TABLE */

table.form {
    border: 0px;
    border-collapse: separate;
    border-spacing: 8px;
}

table.form label{
    font-weight: bold;
}

table.form select,input,textarea {
    font: 0.9em Verdana, sans-serif;
}

table.hardware {
    border: 0px;
    border-collapse: separate;
    border-spacing: 2px
}

.warning {
    color: red;
    font-weight: bold;
}
.default {
    color: green;
    }



/*--------BUTTONS---------------*/

.component, .component_icon, .component:hover, .component_icon:hover, .component:visited, .component_icon:visited{
    background-position: 1ex .5ex;
    -moz-border-radius: 1ex 1ex 1ex 1ex;
    -webkit-border-radius: 1ex 1ex 1ex 1ex;
    border-radius: 1ex 1ex 1ex 1ex;
    padding:.7ex .7ex .7ex .7ex;
    background-color:  #f9f9f9; /*#626262;*/
    color:#444;
    text-decoration: none;
    margin:0;
}
.component + .component, .component + .component_icon, .component_icon + .component ,
.component_icon + .component_icon{
    margin-left: .1ex;
}

.component_icon, .component_icon:hover, .component_icon:visited{
    background-repeat: no-repeat;
    background-position: 1ex .5ex;
    padding:4px 8px 4px 26px; /*top right bottom left - last value depends on the icon size (default=16)*/
}

.button,  .button:visited, .button:hover{
    font-weight: bold;
    border:  1px solid #e1e1e1;
    white-space:nowrap;
    /*    border-top:  1px solid #e1e1e1 !important;
        border-left:  1px solid #e1e1e1 !important;
        border-right:  1px solid #e1e1e1 !important;
        border-bottom:  1px solid #e1e1e1 !important;*/
}

.button:hover{
    border-top:  1px solid #f9f9f9 !important;
    border-left:  1px solid #f9f9f9 !important;
    border-bottom:  1px solid #999 !important;
    border-right:  1px solid #999 !important;
    background-color:  #f4f4f4; /*#e9e9d9;*/
    color: #000; /*#6A0307;*/
}


.list_item, .list_item:visited, .list_item:hover{
    display:block;
    color:#6A0307;
}

.list_item:hover{
    font-weight: bold;
}

.icon_edit{
    background-image: url('../images/edit_page.png');
}
.icon_copy{
    background-image: url('../images/copy_page.png');
}
.icon_previous{
    background-image: url('../images/previous.png');
}
.icon_next{
    background-image: url('../images/next.png');
}
.icon_dublin_core{
    background-image: url('../images/dublin_core.png');
}
.icon_cancel{
    background-image: url('../images/cancel.png');
}
.icon_save{
    background-image: url('../images/save.png');
}
.icon_add{
    background-image: url('../images/add.png');
}
.icon_add_to_playlist{
    background-image: url('../images/add_to_playlist.png');
}
.icon_login{
    background-image: url('../images/password.png');
}
.icon_search{
    background-image: url('../images/find.png');
}
.icon_ok{
    background-image: url('../images/ok.png');
}
.icon_csv{
    background-image: url('../images/csv.png');
}
.icon_playlist{
    background-image: url('../images/playlist.png');
}
.icon_filter{
    background-image: url('../images/filter.png');
}
.icon_delete{
    background-image: url('../images/delete.png');
}
.icon_rss,.icon_rss:hover{
    background: url('../images/feed-icon-14x14.png') no-repeat;
    background-position: 0ex .8ex;
    padding:.0ex 0ex .8ex .7ex;
    text-decoration: none;
}

.icon_record{
    background-image: url('../images/stop.png');
}
.icon_refresh{
    background-image: url('../images/arrow_refresh.png');
}
.icon_play{
    background-image: url('../images/control_play_blue.png');
}
.icon_archives{
    background-image: url('../images/folder_go.png');
}
.icon_trash{
    background-image: url('../images/bin.png');
}
.icon_stop{
    background-image: url('../images/control_stop.png');
    }

.video {
    float: left;
}

.status {
    float: right;
    padding: 5px;
    }
